@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(31 41 55);
}
h1 {
  opacity: .8;
}

@media (max-width: 389px) {
  .navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem;
    background-color: rgb(28, 36, 48);
  }
  .navegacion a {
    font-size: 0.6rem;
    color: white;
    font-weight: 600;
  }
  .enlace {
    font-size: 0.6rem;
    font-weight: 600;
    margin-top: 0.1rem;
    color: white;
  }
  .secondary-nav {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.1rem;
    font-size: 1.3rem;
    background-color: rgb(49, 63, 83);
    color: white;
  }
  .portada-container {
    position: relative;
    color: white;
    margin-top: 4rem;
    height: 46vh;
    margin-bottom: 2.5rem;
  }

  .portada-container h1 {
    position: absolute;
    padding: 0.1rem 0.2rem;
    width: 100vw;
    font-size: 1.6rem;
    top: 2rem;
    background-color: rgb(31 41 55);
  }
  .parrafo {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: .8rem;
    top: 5rem;
    left: 1.4rem;
  }
  .boton {
    position: absolute;
    padding: 5px;
    cursor: pointer;
    margin-top: 3.5rem;
    margin-left: 2rem;
    font-size: .8rem;
  }

  #musica-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: .9rem;
    margin-top: 1rem;
  }
  .musica-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
    padding: 1rem;
    margin-bottom: 4rem;
  }
  .musica-contenido  {
    width: 100%;
    display: grid;
    margin: auto;
    gap: 2rem;
    color: white;
  }
  .musica-contenido h3 {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
  }
  .imagen {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
  }
  .musica-contenido audio {
    margin: auto;
    width: 100%;
  }
  .musica-boton {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }

  
  .scroll-btn {
    position: fixed;
    bottom: 3rem;
    left: 4.3rem;
    background-color: rgba(37, 43, 51, 0.7);
  }
  .luthier-title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
  }
 .luthier-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 1rem;
  color: white;
  padding: 1rem;
  
 }

 .luthier-card {
  width: 100%;
  background-color: rgba(172, 177, 180, 0.5);
  padding: 1rem;
  border-radius: .3rem;
 }
 .luthier-card h3 {
  font-weight: bold;
  margin-bottom: .5rem;
  font-size: 1rem;
 }
 .luthier-card p {
  font-size: .8rem;
  line-height: normal;
 }

 .login-container {
  width: 100%;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(31 41 55);
  color: #ffffff;
}
.login-container h3 {
 font-size: 1rem;
 font-weight: bold;
 color: white;
 text-align: center;
 margin-top: 1rem;
 margin-bottom: 1rem;
 text-transform: uppercase;
}
.login-container input {
 padding: .2rem;
 width: 80%;
 color: #000000;
 border-radius: .3rem;
}


.login-parrafo {
 font-size: 0.4rem;
 display: flex;
 align-items: center;
 margin-bottom: 1rem;
}
.login-parrafo a {
 color: rgb(71, 108, 228);
 margin-left: .2rem;
}
.register-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  background-color: rgb(31 41 55);
}
.register-container h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.register-container input {
  padding: .2rem;
  width: 10rem;
  color: #000000;
  border-radius: .3rem;
}
.register-parrafo {
  font-size: .6rem;
  display: flex;
  align-items: center;
  margin-bottom: .1rem;
}
.register-parrafo a {
  color: rgb(104, 148, 206);
  margin-left: .2rem;
}
.formulario {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin: auto;
  padding: .5rem;
  background-color: #484f58;
}
.btn-form {
 width: 80%;
 background-color: rgb(23, 31, 41);
 padding: 0.5rem 1rem;
 border-radius: 5%;
}
  .errores {
    color: red;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.5rem;
    font-weight: 800;
  }

  
  .blog-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
    padding: 1rem;
    font-size: 0.7rem;
  }
  .blog-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    color: white;
  }
  .blog-container h2 {
    font-weight: 800;
    margin-bottom: .7rem;
  }
  .blog-container img {
    margin-top: .6rem;
    margin-bottom: .6rem;
  }
  .blog-container .content {
    margin-bottom: 1.5rem;
  }

  .blogpost-title {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .3rem;
  }
  .blopost-container {
    padding: 1.5rem;
    color: #ffffff;
  }
  .blogpost-description {
    color: #ffffff;
    font-size: .8rem;
    margin-bottom: .8rem;
  }
  .blogpost-content {
    font-size: .7rem;
    margin-top: .7rem;
  }

  .footer {
    font-size: 7px;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: rgb(28, 36, 48);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;

    border-radius: 10px;
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .modal img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Asegura que la imagen mantenga su aspecto */
  }
}

@media (min-width: 390px) and (max-width: 420px) {
  .navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: rgb(28, 36, 48);
  }
  .navegacion a {
    color: white;
    font-weight: 600;
  }
  .enlace {
    font-weight: 600;
    color: white;
  }

  .secondary-nav {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.1rem;
    font-size: 1.5rem;
    background-color: rgb(49, 63, 83);
    color: white;
  }

  .portada-container {
    position: relative;
    height: 86vh;
    color: white;
  }
    
  .portada-container h1 {
    position: absolute;
    width: 100vw;
    font-size: 2.7rem;
    top: 10rem;
    left: 01.3rem;
  }

  .parrafo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15rem;
    left: 3rem;
    font-size: 1.4rem;
  }
  .boton {
    position: absolute;
    cursor: pointer;
    margin-top: 9.5rem;
    margin-left: 4.5rem;
    font-size: 1.2rem;
  }
  #musica-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .musica-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
    padding: 1rem;
    margin-bottom: 4rem;
  }
  .musica-contenido  {
    width: 100%;
    display: grid;
    margin: auto;
    gap: 2rem;
    color: white;
  }
  .musica-contenido h3 {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }
  .imagen {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
  }
  .musica-contenido audio {
    margin: auto;
    width: 100%;
  }
  .musica-boton {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
  .scroll-btn {
    position: fixed;
    bottom: 10rem;
    left: 19rem;
    background-color: rgba(7, 12, 19, 0.7);
  }
  .luthier-title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
  }
 .luthier-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 1rem;
  color: white;
  padding: 1rem;
  
 }

 .luthier-card {
  width: 100%;
  background-color: rgba(172, 177, 180, 0.5);
  padding: 1rem;
  border-radius: .3rem;
 }
 .luthier-card h3 {
  font-weight: bold;
  margin-bottom: .5rem;
  font-size: 1rem;
 }
 .luthier-card p {
  font-size: .8rem;
  line-height: normal;
 }

 .login-container {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 19.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(31 41 55);
  color: #ffffff;
}
.login-container h3 {
 font-size: 1rem;
 font-weight: bold;
 color: white;
 text-align: center;
 margin-top: 1rem;
 margin-bottom: 1rem;
 text-transform: uppercase;
}
.login-container input {
 padding: .3rem;
 width: 80%;
 color: #000000;
 border-radius: .3rem;
}


.login-parrafo {
 font-size: 0.7rem;
 display: flex;
 align-items: center;
 margin-bottom: 3rem;
}
.login-parrafo a {
 color: rgb(71, 108, 228);
 margin-left: .2rem;
}
.register-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 10rem;
  color: #ffffff;
  background-color: rgb(31 41 55);
}
.register-container h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.register-container input {
  padding: .4rem;
  width: 80%;
  color: #000000;
  border-radius: .3rem;
}
.register-parrafo {
  font-size: .6rem;
  display: flex;
  align-items: center;
  margin-bottom: .1rem;
}
.register-parrafo a {
  color: rgb(104, 148, 206);
  margin-left: .2rem;
}
.formulario {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  background-color: #373d46;
  border-radius: .3rem;
 
}
.btn-form {
 width: 60%;
 margin-bottom: 2rem;
 background-color: rgb(23, 31, 41);
 padding: 0.5rem 1rem;
 border-radius: 5%;
}


  .errores {
    color: red;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.6rem;
    font-weight: 800;
  }
  .blog-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
    padding: 2rem;
    font-size: 0.7rem;
  }
  .blog-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    color: white;
  }
  .blog-container h2 {
    font-weight: 800;
    margin-bottom: .7rem;
    font-size: 1rem;
  }
  .blog-container img {
    margin-top: .6rem;
    margin-bottom: .6rem;
    
  }
  .blog-container .content {
    margin-bottom: 1.5rem;
  }


  .blogpost-title {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .3rem;
  }
  .blopost-container {
    padding: 1.5rem;
    color: #ffffff;
  }
  .blogpost-description {
    color: #ffffff;
    font-size: .8rem;
    margin-bottom: .8rem;
  }
  .blogpost-content {
    font-size: .7rem;
    margin-top: .7rem;
  }
  

  .footer {
    font-size: 12px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: rgb(28, 36, 48);
  }
  .modal {
    position: absolute;
    top: 18rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .modal img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Asegura que la imagen mantenga su aspecto */
  }
}

@media (min-width: 421px) and (max-width: 767px) {
  .navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem;
    background-color: rgb(28, 36, 48);
  }
  .navegacion a {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
    color: white;
    font-weight: 600;
  }

  .enlace {
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
  }
  .secondary-nav {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.1rem;
    font-size: 1.3rem;
    background-color: rgb(49, 63, 83);
    color: white;
  }
  .portada-container {
    padding: 0.5rem;
    position: relative;
    height: 51vh;
    color: white;
  }
  .portada-container h1 {
    position: absolute;
    font-size: 2rem;
    left: 5.7rem;
    top: 0;
  }
  .parrafo {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.8rem;
    top: 2.8rem;
    left: 8rem;
  }
  .boton {
    position: absolute;

    padding: 5px;
    cursor: pointer;
    margin-top: 1.7rem;
    margin-left: 5.2rem;
    font-size: .8rem;
  }
  #musica-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .musica-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
    padding: 1rem;
    margin: auto;
    margin-bottom: 4rem;
  }
  .musica-contenido  {
    width: 100%;
    display: grid;
    margin: auto;
    gap: 2rem;
    color: white;
  }
  .musica-contenido h3 {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }
  .imagen {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
  }
  .musica-contenido audio {
    margin: auto;
    width: 100%;
  }
  .musica-boton {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
  .scroll-btn {
    position: fixed;
    bottom: 3rem;
    left: 19.3rem;
    background-color: rgba(37, 43, 51, 0.7);
  }
  .luthier-title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
  }
 .luthier-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 1rem;
  color: white;
  padding: 3rem;
  
 }

 .luthier-card {
  width: 70%;
  margin: auto;
  background-color: rgba(172, 177, 180, 0.5);
  padding: 1.5rem;
  border-radius: .3rem;
 }
 .luthier-card h3 {
  font-weight: bold;
  margin-bottom: .5rem;
  font-size: 1rem;
 }
 .luthier-card p {
  font-size: .8rem;
  line-height: normal;
 }
 .login-container {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: .5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(31 41 55);
  color: #ffffff;
}
.login-container h3 {
 font-size: 1rem;
 font-weight: bold;
 color: white;
 text-align: center;
 margin-top: -4rem;
 margin-bottom: 1rem;
 text-transform: uppercase;
}
.login-container input {
 padding: .3rem;
 width: 80%;
 color: #000000;
 border-radius: .3rem;
}


.login-parrafo {
 font-size: 0.7rem;
 display: flex;
 align-items: center;
 margin-bottom: 3rem;
}
.login-parrafo a {
 color: rgb(71, 108, 228);
 margin-left: .2rem;
}
.register-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 10rem;
  color: #ffffff;
  background-color: rgb(31 41 55);
}
.register-container h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.register-container input {
  padding: .4rem;
  width: 80%;
  color: #000000;
  border-radius: .3rem;
}
.register-parrafo {
  font-size: .6rem;
  display: flex;
  align-items: center;
  margin-bottom: .1rem;
}
.register-parrafo a {
  color: rgb(104, 148, 206);
  margin-left: .2rem;
}
.formulario {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  background-color: #373d46;
  border-radius: .3rem;
  padding: 1rem;
 
}
.btn-form {
  padding: 0.5rem;
  font-size: 12px;
  border: 1px solid white;
  border-radius: 2.5px;
  margin-bottom: 0.4rem;
  margin: auto;
  width: 60%;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  padding: 2rem;
  font-size: 0.6rem;
  gap: 1rem;
}
.blog-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 1rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.blog-container h2 {
  font-weight: 800;
  
  font-size: 1rem;
}
.blog-container img {
  margin-top: 1rem;
  margin-bottom: .6rem;
  
}
.blog-container .content {
  margin-bottom: 1.5rem;
}

 .errores {
    color: red;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.5rem;
    font-weight: 800;
  }
  



  .blogpost-title {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: .6rem;
    
  }
  .blogpost-container {
    padding: 2rem;
    color: #ffffff;
  }
  .blogpost-description {
    color: #ffffff;
    font-size: .8rem;
    margin-bottom: .2rem;
    text-align: center;
  }
  .blogpost-container img {
    width: 70%;
    margin: auto;
  }
  .blogpost-content {
    font-size: .7rem;
    margin-top: .7rem;
  }
  .footer {
    font-size: 10px;
    padding: 0.5rem;
  }
  .modal {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    
    border-radius: 1rem;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Asegura que la imagen mantenga su aspecto */
  }
  

  
}
@media (min-width: 768px) and (max-width: 1380px) {
  .navegacion {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(28, 36, 48);
  }
  .navegacion a {
    font-size: 1rem;
    color: white;
    font-weight: 700;
  }
  .enlace {
    font-size: 1rem;
    color: white;
    font-weight: 700;
  }

  .secondary-nav {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.2rem;
    font-size: 2rem;
    color: white;
  }
  .portada-container {
    
    position: relative;
    height: 77vh;
    
  }
  .portada-container h1 {
    position: absolute;
    font-size: 8.4rem;
    font-weight: bold;
    letter-spacing: .4rem;
    left: 4rem;
    top: 6rem;
    color: white;
  }
  .parrafo {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2.3rem;
    top: 18rem;
    left: 26rem;
    color: white;
  }
  .boton {
    position: absolute;
    top: 12rem;
    left: 19rem;
    padding: 0.5rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .music-section {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 2rem;
  }
  

  .scroll-btn {
    position: fixed;
    bottom: 10rem;
    left: 68.5rem;
    background-color: rgb(37, 43, 51);
  }
  .login-title {
    font-size: 1.5rem;
    font: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  .login-container {
    width: 60%;
    margin-top: 6rem;
    margin-bottom: 1rem;
    background-color: rgb(31 41 55);
    padding: 1rem;
  }

  .login-parrafo {
    text-align: start;
    margin-bottom: 2rem;
  }

  .register-container {
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;

    padding: 0.2rem 1rem;
    margin-top: 2rem;
    margin-bottom: 4.4rem;
    font-size: 0.8rem;
    background-color: rgb(31 41 55);

    padding: 1rem;
  }
  .register-title {
    font-size: 2rem;
    font: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .errores {
    color: red;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .formulario input {
    background-color: transparent;
    color: wheat;
  }
  .btn-form {
    border: 1px solid white;
    width: 40%;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin: auto;
  }

  #luthier {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .luthier-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem 3rem;
  }

  .luthier-card {
    display: grid;
    padding: 0.5rem;
    color: white;
    background-color: rgba(224, 230, 236, 0.1);
  }
  .blog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    gap: 2rem;
    padding: 2rem;
  }
  .blog-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
  }
  .blog-container h2 {
    font-weight: 800;
    margin-bottom: .7rem;
  }
  .blogpost-title {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
  }
  .blogpost-container {
    width: 90%;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    margin: auto;
    margin-bottom: 26rem;
    font-size: 20px;
  }
  .blogpost-description {
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  .blogpost-container img {
    width: 30rem;
  }
  
  .blogpost-content {
    color: #ffffff;
    font-size: 1.2rem;
  }

  .footer {
    font-size: 12px;
    padding: 0.5rem;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .modal img {
    max-width: 65%;
    max-height: 100%;
    object-fit: contain; /* Asegura que la imagen mantenga su aspecto */
  }

  .blogpost-container {
    width: 90%;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    margin: auto;
    margin-bottom: 26rem;
    font-size: 20px;
  }
  .blogpost-container img {
    width: 250px;
  }
}

@media (min-width: 1381px) and (max-width: 1920px) {
  .navegacion {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 1rem;
    padding: .7rem;
    background-color: rgb(28, 36, 48);
  }
  .navegacion a {
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
  }
  .enlace {
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
  }
  .secondary-nav {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.3rem;
    font-size: 2rem;
    background-color: rgb(49, 63, 83);
    color: white;
  }

  .portada-container {
    position: relative;
    height: 83vh;
  }
    
  .portada-container h1 {
    position: absolute;
    font-size: 10.7rem;
    font-weight: bold;
    left: 6.5rem;
    top: 10rem;
    letter-spacing: 1rem;
    color: white;
  }
  .parrafo {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 3.3rem;
    top: 28rem;
    left: 43rem;
    color: white;
  }
  .boton {
    position: absolute;
    top: 18rem;
    left: 28rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: white;
  }
  #musica-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .musica-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 4rem;
    margin-bottom: 4rem;
  }
  .musica-contenido  {
    width: 30%;
    display: grid;
    margin: auto;
    gap: 2rem;
    color: white;
  }
  .musica-contenido h3 {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
  }
  .imagen {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
  }
  .musica-contenido audio {
    margin: auto;
    width: 100%;
  }
  .musica-boton {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
  .luthier-title {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
  }
 .luthier-container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
  color: white;
  padding: 3rem;
  
 }

 .luthier-card {
  width: 100%;
  background-color: rgba(172, 177, 180, 0.5);
  padding: 1rem;
  border-radius: .3rem;
 }
 .luthier-card h3 {
  font-weight: bold;
  margin-bottom: .5rem;
  font-size: 1.5rem;
 }
 .luthier-card p {
  font-size: 1.2rem;
  line-height: normal;
 }

 .login-container {
   width: 100%;
   margin-top: 6rem;
   margin-bottom: 11.4rem;
   justify-content: center;
   align-items: center;
   background-color: rgb(31 41 55);
   padding: 2rem;
   color: #ffffff;
}
.login-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.login-container input {
  padding: .6rem;
  width: 30rem;
  color: #000000;
  border-radius: .3rem;
}


.login-parrafo {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.login-parrafo a {
  color: rgb(71, 108, 228);
  margin-left: .2rem;
}
.btn-form {
  background-color: rgb(23, 31, 41);
  padding: 0.5rem 1rem;
  border-radius: 5%;
}

.register-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-top: 1rem;
  margin-bottom: 12rem;
  color: #ffffff;
  background-color: rgb(31 41 55);
}
.register-container h3 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.register-container input {
  padding: .6rem;
  width: 30rem;
  color: #000000;
  border-radius: .3rem;
}
.register-parrafo {
  font-size: .9rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.register-parrafo a {
  color: rgb(104, 148, 206);
  margin-left: .2rem;
}
.formulario {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  padding: 1rem;
  background-color: #20252b;
}
 
  .blog-title {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
  }
  .blog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    color: white;
    padding: 4rem;
  }
  .blog-container h2 {
    font-weight: 800;
    margin-bottom: .7rem;
  }
  .blogpost-title {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
  }
  .blogpost-container {
    width: 90%;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    margin: auto;
    margin-bottom: 26rem;
    font-size: 20px;
  }
  .blogpost-description {
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  .blogpost-container img {
    width: 30rem;
  }
  
  .blogpost-content {
    color: #ffffff;
    font-size: 1.2rem;
  }
 
  .scroll-btn {
    position: fixed;
    bottom: 30rem;
    left: 85rem;
    background-color: rgba(37, 43, 51, 0.5);
  }
 .btn-form:hover {
    background-color: rgb(51, 60, 70);
  }
  .errores {
    color: red;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }


  .footer {
    font-size: 15px;
    padding: 0.5rem;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .modal img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Asegura que la imagen mantenga su aspecto */
  }

  
 
}
